    .home {
        padding: 6rem 10rem;
        display: block;
        font-size: larger;
        text-align: justify;
    }

    @media (max-width: 870px) {
        .home {
            padding: 7rem 2.5rem;
        }
    }