.container {
    --_animationStartAfter: 200px;
    --_animationDistance: 300px;

    max-width: 140rem;
    padding: .8rem 6rem;
    display: flex;
    z-index: 100;
    top: 0;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    /* background-color: #e9f1f8; */
    background-color: #82bea3;
    backdrop-filter: blur(10px);

    animation: stickyNav linear forwards;
    animation-timeline: view();
    animation-range-start: calc(100vh + var(--_animationStartAfter));
    animation-range-end: calc(100vh + var(--_animationStartAfter) + var(--_animationDistance));
}

.logo {
    width: 82px;
    height: 48px;
    display: flex;
    align-items: center;
}

.logo-svg {
    width: 128px;
    height: 72px;
    vertical-align: middle;
}

.mobileNav {
    display: none;
}
.mobileNav ul {
    display: none;
}

ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-link {
    /* color: #2d73ac; */
    color: whitesmoke;
    font-weight: 500; 
    text-decoration: none; 
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    transition: color 0.3s;
    text-shadow: 2px 6px 10px rgba(129, 129, 129, 0.5);
}

.nav-link:hover {
    color: #113b5e; 
    /* background-color: whitesmoke; */
}

.active {
    color: #186cb1; 
    font-weight: 700;
}

.burger-menu{
    display: none;
    cursor: pointer;
}

@keyframes stickyNav {
    100% {
        background-color: #c2d8ce;
        /* background-color: #6d94b4; */
        box-shadow: 0 0 0.75rem hsl(0, 0%, 0% / 0.3);
        /* box-shadow: 2px 4px 12px rgba(121,168,203, 0.3); */
    }
}

@media (max-width: 870px) {
    .container {
        padding: .9rem 2rem;
        width: 100%;
    }
    .logo {
        width: 64px;
        height: 36px;
    }
    .desktopNav{
        display: none;
    }

    .burger-menu {
        display: flex;
    }

    .mobileNav{
        display: flex;
        align-items: center;
    }

    .mobileNav ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 110;
        top: 4rem;
        right: 0rem;
        padding: 0.5rem;
        /* height: fit-content; */
        height: 100vh;
        min-width: 50%;
        background-color: #c2d8ce;
        border-radius: 0 0 0 0.5rem;
        transition: right 0.3s ease-in-out;
    }
    .nav-link {
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    }

}

@media (max-width: 480px) {
    .mobileNav ul {
        width: 100vw;
        padding: 2rem;
    }
}